body {
    background-image: url("jost-van-dyke.png");
    background-image: asset-data-url("jost-van-dyke.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.welcome {
    background-color: white;
    text-align: center;
    width: 25%;
    margin: auto;
    padding: .5px;
    border-radius: 25px;
    opacity: .8;
}
.block {
    margin: 100px;
}
.form {
    background-color: white;
    width: 25%;
    height: 165px;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    opacity: .8;
    text-align: center;
}
.label {
    display: block;
    padding: 1px;
}
.submit {
    display: block;
    margin: auto;
    padding: 1px;
}
.debug_dump {
    background-color:white;
    opacity: .8;
    border-radius: 5px;
}